h1 {
    font-family: Verdana;
    font-size: 20px;
    color: brown;
    text-align: center;
    background-color: yellow;
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/t2/6241067-abstrato-poligono-3d-triangulo-amarelo-fundo-geometrico-gr%C3%A1tis-foto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
}

p {
    font-size: 14px;
}

img {
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 10px;
    margin-top: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgb(255, 0, 0);
}

nav * {
    border: none;
    list-style: none;
    display: inline-block;
}


nav ul li:hover {
    background-color: rgb(253, 186, 186);
}

nav ul {
    float: right;
    margin-right: 50px;
    transition: background-color 300ms linear;
}

footer {
    background-color: rgba(0, 0, 0, 0.397);
    position: sticky;
    bottom: 0;
    left: 0;
}

body {
    display: flex;
    flex-direction: column;
}
