<!-- <app-usar-meu-pipe></app-usar-meu-pipe>

<app-navbar></app-navbar>

<app-fotos></app-fotos> -->

<!-- <app-ng-if>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus repellendus cum assumenda eveniet similique sint a vel maiores porro laboriosam accusamus sit aut mollitia culpa cumque architecto error, illum sed.
    </p>
</app-ng-if> -->

<!-- <app-ng-content>
    <h3>Título</h3>
    <h5>Subtítulo</h5>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur dolorem ut repudiandae, architecto sint expedita quisquam temporibus suscipit? Soluta expedita ullam illo debitis recusandae sapiente vel vitae tempore, minima ducimus!</p>
</app-ng-content> -->

<!-- <app-validacao></app-validacao> -->

<app-lista-de-tarefas></app-lista-de-tarefas>